

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

body {
  font-family: 'Raleway', sans-serif !important;
}

.nav-link {
  font-weight: bold !important;
 
}

.header {
  font-weight: 900;
  font-size: 3.5rem;
}

.hero-img {
  background-color: green;
  height:90vh;
  width: 50%;
}

.banner {
  height:90vh;
}

.hero-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btn {
  background-color: rgb(255, 157, 0) !important;
}



.carousel-inner {
  display: flex;
  align-items: center;
}

.car-img {
  max-height: 65vh !important;
}
/* end of hero section */

.chill {
  margin-top: -10vh;
  position: relative;
}

/* start  of about section */
.semicircle {
  height:55vh;
  width: 55vh; /* Set the width to match the height */
  background-color: green;
  border-radius: 50%;
  position: relative;
  left: -15%; /* Move it 25% to the left */
  display: flex;
  align-items: center;

}

.abt {
  position: relative;
 
}
.abt-img {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index:1;
  display: flex;
  align-items: center;
  min-height: 50% !important;

}

.abt-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* End of about section  */

.menu-card {
  display: flex !important;
  justify-content: center !important;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* Start of footer */

.foot {
  background-color: rgb(195, 194, 194);
}

/* Hover Effects */

.img-fluid:hover {
  transform: scale(1.1); /* Increase the size on hover */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #ffc107; /* Change background color on hover */
  transform: scale(1.1);
}

.icon:hover {
  transform: scale(1.2); /* Remove grayscale effect on hover */
}

.menu-card:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); /* Add box-shadow on hover */
}

a:hover {
  transform: scale(1.1);
}